version: "3.8"

name: edumind

services:
  user-service:
    build:
      context: .
      dockerfile: services/user-service/Dockerfile
    container_name: edumind-user-service
    ports:
      - "8001:8000"
    environment:
      - APP_NAME=EduMind User Service
      - PORT=8000
      - DEBUG=true
      - ENVIRONMENT=development
    volumes:
      - ./services/user-service/app:/app/app
    restart: unless-stopped


  xai-prediction-service:
    build:
      context: .
      dockerfile: services/service-xai-prediction/Dockerfile
    container_name: edumind-xai-prediction
    ports:
      - "8004:8000"
    environment:
      - APP_NAME=EduMind XAI Prediction Service
      - PORT=8000
      - DEBUG=true
      - ENVIRONMENT=development
    volumes:
      - ./services/service-xai-prediction/app:/app/app
    restart: unless-stopped

  learning-style-service:
    build:
      context: .
      dockerfile: services/service-learning-style/Dockerfile
    container_name: edumind-learning-style
    ports:
      - "8005:8000"
    environment:
      - APP_NAME=EduMind Learning Style Service
      - PORT=8000
      - DEBUG=true
      - ENVIRONMENT=development
    volumes:
      - ./services/service-learning-style/app:/app/app
    restart: unless-stopped

  engagement-tracker-service:
    build:
      context: .
      dockerfile: services/service-engagement-tracker/Dockerfile
    container_name: edumind-engagement-tracker
    ports:
      - "8006:8000"
    environment:
      - APP_NAME=EduMind Engagement Tracker Service
      - PORT=8000
      - DEBUG=true
      - ENVIRONMENT=development
    volumes:
      - ./services/service-engagement-tracker/app:/app/app
    restart: unless-stopped

networks:
  default:
    external: true
    name: edumind-network
