version: "3"
services:
  postgres:
    image: postgres:13
    container_name: postgres_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - airflow_network

  airflow-webserver:
    environment:
      - KAGGLE_USERNAME=it22278944
      - KAGGLE_API_TOKEN=KGAT_9f6f332391b9ace3ef2ccaa64d4344d3
    volumes:
      - ./data:/opt/airflow/data # Add this line
      - ./dags:/opt/airflow/dags
      - ./logs:/opt/airflow/logs

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin_container
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8081:80"
    depends_on:
      - postgres
    networks:
      - airflow_network

volumes:
  postgres_data:
